DATABASE_URL=postgresql://user:password@postgres:5432/demo
# Neon Database
#DATABASE_URL=postgresql://neondb_owner:DUMMY_PASSWORD@xxxxxxxxxxxxxx.aws.neon.tech/neondb?channel_binding=require&sslmode=require
